body {
    background-color: skyblue;
    width: 1000px;
    padding: 30px;
    margin: 20px;
    border: 20px solid green
}

.p {
    background-color: sandybrown;
    width: 100px;
    padding: 30px;
    margin: 20px;
    border: 20px solid purple
}